.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  column-gap: 24px;
}

.app--task-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 14px;
  height: 300px;
  width: 300px;
}

.app-container .task-list-container {
  height: 190px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}